* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-size-body: 0.8rem;
    --font-size-header: 1.5rem;
    --font-color-body: #000080; 
    --main-bg-color: white;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 2fr;
    color: var(--font-color-body);
}


/* Linear gradient needed for bg color */
.body-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #FF00FF, #7FFFD4);
    justify-content: center;
    align-items: center;
    padding: 5rem 0;

    >h1 {
        font-size: var(--font-size-header);
    }
}

.body-container > div {
    padding: 0.7rem 0;
}

#anchor-to-library {
    appearance: none;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 0.7rem;
    border: #000080;
}

#anchor-to-library:hover {
    background-color: rgb(199, 196, 196);
}

#anchor-to-library:active {
    transform: translateY(1px);
    background-color: rgb(160, 159, 159);
}

.library-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  
  > h3 {
    padding-bottom: 0.7rem;
  }
} 


.add-book {
  font-size: 5rem; 
  color: blue;
  border: none;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
}
    
 .add-book:hover {
  background: gainsboro;
  color: grey;
}

.add-book:active {
  transform: translateY(1px);
  box-shadow: 1px 2px 2px 0
}
