* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-size-body: 0.8rem;
    --font-size-header: 1.5rem;
    --font-color-body: #000080;
    --main-bg-color: white;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    color: var(--font-color-body);
}


/* Linear gradient needed for bg color */
.body-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #FF00FF, #7FFFD4);
    justify-content: center;
    align-items: center;
    padding: 5rem 0;

    >h1 {
        font-size: var(--font-size-header);
    }
}

.body-container > div {
    padding: 0.7rem 0;
}

#anchor-to-library {
    appearance: none;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 0.7rem;
    border: #000080;
}

#anchor-to-library:hover {
    background-color: rgb(199, 196, 196);
    cursor: pointer;
}

#anchor-to-library:active {
    transform: translateY(1px);
    background-color: rgb(160, 159, 159);
    cursor: progress;
}

.library-container,
#book-sort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
> h3 {
    padding-bottom: 0.7rem;
    border-bottom: 1px solid gainsboro;
    margin-top: 3.5rem;
}
}

.library-container {
    border-top: 1px solid gainsboro;
}

.add-book {
    font-size: 5rem;
    color: blue;
    border: none;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    appearance: none;
    transition: smooth 0.2s;
}

.add-book:hover {
    background: gainsboro;
    color: grey;
    cursor: pointer;
}

.add-book:active {
    transform: translateY(1px);
    box-shadow: 1px 2px 2px 0;
    color: rgb(163, 158, 158);
    cursor: progress;
<<<<<<< HEAD
}

#book-sort {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#book-sort > div {
    border: 1px solid gainsboro;
}

dialog::backdrop {
    background: linear-gradient(to right, #FF00FF, #7FFFD4);
    opacity: 0.8;
}

dialog {
    padding: 1.6rem;
    position: absolute;
    top: 30%;
    left: 40%;
}

input {
    margin-bottom: 0.3rem;
=======
>>>>>>> 982864c8d33ad015afcb556822aad44d398fda0a
}

#book-sort {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  
  #book-sort > div {
    border: 1px solid gainsboro;
  }

  ::backdrop {
    background: linear-gradient(to right, #FF00FF, #7FFFD4);
    opacity: 0.8;
  }

  dialog {
    align-self: center;
    justify-self: center;
    padding: 1.6rem;
  }
  
  input {
    margin-bottom: 0.3rem;
  }
  